*{margin: 0;padding: 0;}
.main-box{
    width: 100%;
   /* border: 1px solid black;*/
    background-color: grey;
}
.box-1{
    width: 100%;
   /* border: 1px solid black;*/
    background-color: white;
}
.box-3{
    width: 100%;
    background-color: white;
   /* border: 1px solid black;*/
}
.navbar-so{
    width: 100%;
    height: 35px;
   /* border: 1px solid black; */
    background-color: rgb(113, 113, 230);
}
.navbar-so p{
    color: white;
    font-size: 19px;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    padding: 6px;
}
.header{
    width: 100%;
    border: 1px solid black;
}
.logo{
   align-items: center;
   text-align: center;
   justify-self: end;
   padding: 40px;
   margin-left: 600px;
}

.navbar-nav{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
   
}
.navbar-item{
    display: inline;
    text-emphasis: none;
    margin-left: 20px; 
    
}
.nav-link{
    display: inline;
    text-emphasis: none;
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
    color: black;
    
}
.nav-link:hover{
    color: yellow;
}
.banner-box{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-color: rgb(164, 164, 202);
}
.banner-box-inner{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.733);
    opacity: 0.4;
    margin-left: 150px;
    margin-top: 200px;
}
.card-box{
    width: 90%;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    margin: auto;
}

.subscribe{
    width: 100%;
    height: 300px;
    background-color: rgb(80, 80, 224);
}
 .footer{
    width: 100%;
    height: 300px;
    background-color: white;
 }