*{padding: 0;margin: 0;}
.main {
    width: 1200px;
    height: 900px;
    background-color: pink;
    margin: auto;
}
.header{
    width: 1200px;
    height: 200px;
    background-color: aqua;
    border-color: black;
}
.logo{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    float: left;
}
.logo img{
    width: 300px;
    height: 200px;
}
.marque{
    width: 1200px;
    height: 150px;
    background-color: pink;
}
.marque h1 {
    text-align: center;
    line-height: 80px;
} 
.toolbar{
    width: 1200px;
    height: 50px;
    background-color:orchid;
}
.toolbar ul li {
     float: left;
     list-style: none;
     display: block;
     background-color: aqua;
     height: 40px;
     width: 225px;
     margin-top: 5px;
     text-align: center;
     line-height: 40px;
}
.toolbar ul li a{
    text-decoration: none;
    color: black;
}
.toolbar ul li:hover{
    background-color: gray;
}
.gallary{
    width: 1200px;
    height: 400px;
    background-color: burlywood;
}
.gallary img{
    width: 1200px;
    height: 400px;
}
.courses{
    width: 1200px;
    height: 200px;
    background-color: gold;
}
.courses h1{
  list-style: disc;
  margin-left: 30px;
}
.footer{
    width: 1200px;
    height: 100px;
    background-color: palevioletred;
    float: left;
}
.footer ul li a{
    float: left;
    list-style: none;
    display: block;
    background-color: aqua;
    height: 40px;
    width: 165px;
    margin-top: 5px;
    text-align: center;
    line-height: 40px;
}
